@import "@skill-platform/ui/globals.css";

@layer base {
  html,
  body {
    height: 100%;
    overscroll-behavior: none;
  }

  body {
    overflow: hidden;
  }

  #root {
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
  }
}
